body { 
  background: url(../images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.stockholm {
  font-size: 1.2vw; 
}

.white-logo {
	background-color: rgba(255, 255, 255, 0.5);
  overflow:auto;
  text-align:center; 
  padding-top:10%; 
  padding-bottom:10%;
}

.black {
	background-color: rgba(0, 0, 0, 0.5);
	overflow:auto;
}

.main-div {
  margin-left: 12%; 
  margin-right:12%;
  padding-top: 5px;
}

.profile {
    float: left;
    max-width: 90%;
    border-radius: 50%;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    max-height:300px;
    position: relative;
    margin-bottom: 5px;
}

.info-header {
  color:white; 
  text-align: center;
  font-size: 2.5vw; 
  font-style: italic;
  display: block;
  margin-left: 5%;
  margin-top: 5%;
}

.info-header2 {
  color:white; 
  text-align: right;
  font-size: 2.5vw; 
  font-style: italic;
  margin-left: 20%;
}

.main-info {
  margin-left:320px; 
  margin-top: 50px
}

.info-text {
  color: white;
  font-size: 130%;
  margin-bottom: 0px;
  line-height: 100%
}

.left-qmark {
  font-size: 40px;
  font-style: italic;
}

.right-qmark {
  font-size: 40px;
  font-style: italic;
}

.misc-text {
  font-size:18px;
  color: white; 
}

.link {
  color:white;
}

.link:hover {
  color:white;
  text-decoration: none;
}

.link:visited {
  color:white;
  text-decoration: none;
}

.footer-linkedin {
  float:right; 
  position:relative; 
  color:white; 
  font-size:24px;
}

.hide-mobile {
  display: unset;
}

.hide-pc-tablet {
  display: none;
}

/* special case */
@media (max-width: 1400px) {
  .stockholm {
    font-size: 1.4vw; 
  }
}

/* handle low resolution on computer */
@media (max-width: 1200px) {
  .stockholm {
    font-size: 1.5vw; 
  }

  .main-div {
    margin-left: 12%; 
    margin-right:0%;
    padding-top: 5px;
  }

  .profile {
    float: left;
    max-width: 90%;
    border-radius: 50%;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    max-height:200px;
    position: relative;
    margin-bottom: 5px;
  }

  .info-header {
    color:white; 
    text-align: center;
    font-size: 2.2vw; 
    font-style: italic;
    display: block;
    margin-left: 5%;
    margin-top: 5%;
  }
  
  .info-header2 {
    color:white; 
    text-align: right;
    font-size: 2.2vw; 
    font-style: italic;
    margin-left: 30%;
  }

  .main-info {
    margin-left:220px; 
    margin-top: 2%;
  }

  .left-qmark {
    font-size: 20px;
    font-style: italic;
  }
  
  .right-qmark {
    font-size: 20px;
    font-style: italic;
  }

  .info-text {
    color: white;
    font-size: 100%;
    margin-bottom: 0px;
    line-height: 100%
  }

  .misc-text {
    font-size:16px;
    color: white; 
  }
}

/* handle lower resolution on computer */
@media (max-width: 850px) {
  .main-info {
    margin-left:220px; 
    margin-top: 6%;
  }
}

/* handle even lower resolution on computer */
@media (max-width: 600px) {
  .stockholm {
    font-size: 2vw; 
  }

  .profile {
    float: left;
    max-width: 90%;
    border-radius: 50%;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    max-height:150px;
    position: relative;
    margin-bottom: 5px;
  }

  .info-header2 {
    color:white; 
    text-align: right;
    font-size: 2vw; 
    font-style: italic;
    margin-left: 20%;
  }

  .main-info {
    margin-left:160px; 
    margin-top: 4%;
  }

  .info-text {
    color: white;
    font-size: 70%;
    margin-bottom: 0px;
    line-height: 100%
  }

  
  .misc-text {
    font-size:14px;
    color: white; 
  }
}

/* handle high resolution on computer */
@media (min-width: 1600px) {
  .stockholm {
    font-size: 1vw; 
  }

  .profile {
    float: left;
    max-width: 90%;
    border-radius: 50%;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    max-height:400px;
    position: relative;
    margin-bottom: 5px;
  }   

  .main-info {
    margin-left:420px; 
    margin-top: 3%
  }
}

/* handle higher resolution on computer */
@media (min-width: 2500px) {
  .profile {
    float: left;
    max-width: 90%;
    border-radius: 50%;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    max-height:500px;
    position: relative;
    margin-bottom: 5px;
  }   

  .main-info {
    margin-left:520px; 
    margin-top: 25px
  }
}

/* iPhone 6/7/8/X/XS */
@media only screen and (max-width : 375px) {
  .stockholm {
    font-size: 3vw; 
  }

  .white-logo {
    background-color: rgba(255, 255, 255, 0.5);
    overflow:auto;
    text-align:center; 
    padding-top:35%; 
    padding-bottom:35%;
  }

  .info-header {
    color:white; 
    text-align: center;
    font-size: 4.5vw; 
    font-style: italic;
    display: block;
    margin-left: 1%;
    margin-top: 35%;
  }
  
  .info-header2 {
    color:white; 
    display: table;
    text-align: right;
    font-size: 4.5vw; 
    font-style: italic;
    margin-left: 30%;
    margin-bottom: 35%;
  }

  .profile {
    float: left;
    border-width: 0px;
    border-radius: unset;
    max-height: unset;
    min-width: 100%;
  }

  .main-info {
    display: inline-table;
    text-align: center;
    margin-top: 25%;
    margin-bottom: 25%;
    margin-left: 28%;
  }

  .info-text {
    color: white;
    font-size: 150%;
    margin-bottom: 0px;
    line-height: 100%;
  }

  .footer-linkedin {
    font-size:18px;
  }

  .misc-text {
    font-size:14px; 
    color: white;
  }

  .hide-mobile {
    display: none;
  }

  .hide-pc-tablet {
    display: unset;
  }
}

/* iPhone 6+/7+/8+ */
@media only screen and (max-width : 414px) { 
  .misc-text {
    font-size:14px; 
    color: white;
  }

  .profile {
    float: left;
    border-width: 0px;
    border-radius: unset;
    max-height: unset;
    min-width: 100%;
  }

  .footer-linkedin {
    font-size:18px;
  }

  .hide-mobile {
    display: none;
  }

  .hide-pc-tablet {
    display: unset;
  }
}

/* iPad portrait */
@media only screen and (min-width: 768px) and (max-width: 1024) and (orientation:portrait)  {
  /* For general iPad layouts */
}

/* iPad landscape */
@media only screen and (min-width: 768px) and (max-width: 1024) and (orientation:landscape)  {
  /* For general iPad layouts */
}