body { 
  background: url(../images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.white {
	background-color: rgba(255, 255, 255, 0.5);
	overflow:auto;
}

.black {
	background-color: rgba(0, 0, 0, 0.5);
	overflow:auto;
}

.profile {
    float: left;
    max-width: 90%;
    border-radius: 50%;
    border-color: white;
    border-width: 3px;
    border-style: solid;
}

.left-qmark {
  font-size: 20px;
  font-style: italic;
}

.right-qmark {
  font-size: 20px;
  font-style: italic;
}

.footer-text {
  font-size:18px; 
}

/* iPhone 6/7/8 */
@media only screen and (max-width : 375px) and (max-height : 667px) and (-webkit-device-pixel-ratio : 2) {
  .footer-text {
    font-size:14px; 
  }
}

/* iPhone 6+/7+/8+ */
@media only screen and (max-width : 414px) and (max-height : 736px) and (-webkit-device-pixel-ratio : 3) { 
  .footer-text {
    font-size:14px; 
  }
}

/* iPhone X */
@media only screen and (max-width : 375px) and (max-height : 812px) and (-webkit-device-pixel-ratio : 3) { 
  .footer-text {
    font-size:14px; 
    color: black;
  }
}