body { 
  background: url(../images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.white {
	background-color: rgba(255, 255, 255, 0.5);
	overflow:auto;
}

.black {
	background-color: rgba(0, 0, 0, 0.5);
	overflow:auto;
}

.main-div{
  margin-left: 12%; 
  margin-right:12%;
  padding-top: 5px;
}

.profile {
    float: left;
    max-width: 90%;
    border-radius: 50%;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    max-height:300px;
    position: relative;
    margin-bottom: 5px;
}

.info-header {
  color:white; 
  text-align: center;
  font-size: 2.5vw; 
  font-style: italic;
  display: block;
  margin-left: 5%;
  margin-top: 5%;
}

.info-header2 {
  color:white; 
  text-align: right;
  font-size: 2.5vw; 
  font-style: italic;
  margin-left: 20%;
}

.main-info {
  margin-left:320px; 
  margin-top: 50px
}

.info-text {
  color: white;
  font-size: 130%;
  margin-bottom: 0px;
  line-height: 100%
}

.left-qmark {
  font-size: 40px;
  font-style: italic;
}

.right-qmark {
  font-size: 40px;
  font-style: italic;
}

.misc-text {
  font-size:18px;
  color: white; 
}

.link {
  color:white;
}

.link:hover {
  color:white;
  text-decoration: none;
}

.link:visited {
  color:white;
  text-decoration: none;
}

.footer-linkedin {
  float:right; 
  position:relative; 
  color:white; 
  font-size:24px;
}

.hide-mobile {
  display: unset;
}

.hide-pc-tablet {
  display: none;
}

/* handle header font size */
@media (max-width: 1200px) {
  .main-div {
    margin-left: 12%; 
    margin-right:0%;
    padding-top: 5px;
  }

  .profile {
    float: left;
    max-width: 90%;
    border-radius: 50%;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    max-height:200px;
    position: relative;
    margin-bottom: 5px;
  }

  .info-header {
    color:white; 
    text-align: center;
    font-size: 2vw; 
    font-style: italic;
    display: block;
    margin-left: 5%;
    margin-top: 5%;
  }
  
  .info-header2 {
    color:white; 
    text-align: right;
    font-size: 2vw; 
    font-style: italic;
    margin-left: 30%;
  }

  .main-info {
    margin-left:220px; 
    margin-top: 3%;
  }

  .left-qmark {
    font-size: 20px;
    font-style: italic;
  }
  
  .right-qmark {
    font-size: 20px;
    font-style: italic;
  }

  .info-text {
    color: white;
    font-size: 100%;
    margin-bottom: 0px;
    line-height: 100%
  }
  
}

/* iPhone 6/7/8/X/XS */
@media only screen and (max-width : 375px) {
  .misc-text {
    font-size:14px; 
    color: white;
  }

  .profile {
    float: left;
    border-width: 0px;
    border-radius: unset;
    max-height: unset;
    min-width: 100%;
  }

  .footer-linkedin {
    font-size:18px;
  }

  .hide-mobile {
    display: none;
  }

  .hide-pc-tablet {
    display: unset;
  }
}

/* iPhone 6+/7+/8+ */
@media only screen and (max-width : 414px) { 
  .misc-text {
    font-size:14px; 
    color: white;
  }

  .profile {
    float: left;
    border-width: 0px;
    border-radius: unset;
    max-height: unset;
    min-width: 100%;
  }

  .footer-linkedin {
    font-size:18px;
  }

  .hide-mobile {
    display: none;
  }

  .hide-pc-tablet {
    display: unset;
  }
}

/* iPad portrait */
@media only screen and (min-width: 768px) and (max-width: 1024) and (orientation:portrait)  {
  /* For general iPad layouts */
}

/* iPad landscape */
@media only screen and (min-width: 768px) and (max-width: 1024) and (orientation:landscape)  {
  /* For general iPad layouts */
}